.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px;
    }

.button__login{
    border: none;
    text-transform: uppercase;
    background-color: var(--background-active);
    padding: 8px 16px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button__login>p{
    margin-left: 4px;
}

.button__login>.material-symbols-outlined{
    font-size: 1.5rem;
}

.avatar{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
}

.avatar>img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--background-active);
}

.avatar__name>p{
    margin-right: 8px;
    font-size: 1rem;
}

@media(hover:hover){
    .button__login:hover{
        cursor: pointer;
        background-color: var(--blue);
        color: #fff;
    }

    .avatar{
        cursor: pointer;
    }
}

@media(max-width: 480px){
    .button__login{
        padding: 8px;
        background-color: var(--blue);
        color: #fff;
    }

    .button__login>p{
        display: none;
    }
}