.container{
    position:relative;
    max-width: 1170px;
    margin: 0 auto;
}

.wrap{
    display: flex;
}

.main{
display: flex;
flex-direction: column;
width: 70%;
margin-right: 16px;
}

.main__trip-weather{
    padding: 8px;
    margin-bottom: 40px;
}

@media(max-width: 1024px){
    .wrap{
        flex-direction: column;
    }

    .main{
        width: 100%;
    }
}
