.wrap{
    position:relative;
    max-width: 1170px;
    margin: 0 auto;
    padding: 16px 8px;
}

.container{
    display: flex;
}

.main{
display: flex;
flex-direction: column;
width: 70%;
margin-right: 32px;
}

.trip-weather{
    padding: 8px;
    margin-bottom: 40px;
}

hr{
    width: 100%;
    height: 1px;
    background-color: var(--border-main);
    border: none;
    margin: 0;
}

.scroll-button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: var(--background-active);
    color: var(--text-secondary);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-button>.material-symbols-outlined{
    font-size: 2.5rem;
}

.scroll-button_left{
    left: -20px;
    padding: 0 2px 2px 0;
}

.scroll-button_right{
    right: -20px;
    padding: 0 0 1px 4px;
}

@media(hover:hover){
    .scroll-button:hover{
        cursor: pointer;
        color: #fff;
        background-color: var(--blue);
        transition:  
            color 100ms,
            background-color 100ms;
    }
}

@media(hover:none){
    .scroll-button:active{
        color: #fff;
        background-color: var(--blue);
    }
}

@media(max-width: 1120px){
    .container{
        flex-direction: column;
    }

    .main{
        width: 100%;
        margin-right: 0;
    }
}
