body{
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  box-sizing: border-box;
  color: var(--text-main);
}

hr{
    width: 100%;
    height: 1px;
    background-color: var(--border-main);
    border: none;
    margin: 0;
}

:root{
    --text-main: #4a4a4a;
    --text-secondary: #979797;
    --red: #e74c3c;
    --blue: #3498db;
    --border-main: #e0e0e0;
    --background-active: #edf4ff;
}